body {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 15px;
    max-width: 5000px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: rgb(12, 180, 223);
    height: 2px;
}

h1, h2, h3 {
    font-weight: 400;
    margin-bottom: 0;
}
#leftsection {
    border-right: 2px solid rgb(12, 180, 223);
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}


h2{
    border: none;
    background-color: rgb(117, 243, 222);
    height: 2px;
}

#rightsection {
    border-right: 2px solid rgb(12, 180, 223);
}

#leftsection {
    border-left: 2px solid rgb(12, 180, 223);
}

#leftsection {
    border-bottom: 2px solid rgb(12, 180, 223);
}

#rightsection {
    border-bottom: 2px solid rgb(12, 180, 223);
}

#leftsection {
    border-top: 2px solid rgb(12, 180, 223);
}

#rightsection {
    border-top: 2px solid rgb(12, 180, 223);
}